In [22]:
import pandas as pd
from pydantic import BaseModel

In [23]:
def read_and_column_selection(csv):
    data = pd.read_csv(csv)
    return data[['REF_DATE', 'Gender', 'Age group','VALUE']]

def text_replace(df, column, to_replace, replacement):
    for x in range(len(to_replace)):
        df[column] = df[column].replace(to_replace[x], replacement[x])

def reset_index_set(df_list):
    for x in df_list:
        x.reset_index(drop=True, inplace=True)

def df_to_csv(df_list):
    for x in range(len(df_list)):
        print('saving')
        print(df_list[x])
        df_list[x].to_csv(f'{df_names[x]}.csv', index=False)

def rename_columns(df):
    return df.rename(columns={'REF_DATE': 'year', 'Gender': 'gender', 'Age group': 'age', 'VALUE': 'value'})
sk_data = read_and_column_selection('sask_demo_data.csv')
sk_data = rename_columns(sk_data)

In [31]:
sk_data = sk_data[(sk_data['gender'] != 'Total - gender') & (sk_data['age'] != 'Average age')]

In [32]:
sk_data.to_csv('sk_data.csv', index=False)

In [15]:
sk_data.isnull().sum()

year       0
gender     0
age        0
value     81
dtype: int64

In [3]:
# Various validation variables
list = ['Women+', 'Men+']
replace_list = ['Female+', 'Male+']

# Lists for value validation
gender = ['Total - gender', 'Men+', 'Women+']
ref_date = [x for x in range(1970, 2024)]
age_group = [x for x in sk_data['age'].value_counts().index]

In [4]:
text_replace(sk_data, 'gender', list, replace_list)

In [5]:
sk_data['gender'].value_counts()

gender
Total - gender    1159
Male+             1159
Female+           1159
Name: count, dtype: int64

In [6]:
sk_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3477 entries, 0 to 3476
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    3477 non-null   int64
 1   gender  3477 non-null   object
 2   age     3477 non-null   object
 3   value   3396 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 108.8+ KB

In [7]:
sk_data.isnull().sum()

year       0
gender     0
age        0
value     81
dtype: int64

In [8]:
sk_all = sk_data[sk_data['gender'] == 'Total - gender']

In [9]:
sk_male = sk_data[sk_data['gender'] == 'Male+']

In [10]:
sk_female = sk_data[sk_data['gender'] == 'Female+']

In [11]:
df_list = [sk_all, sk_male, sk_female]
df_names = ['sk_all', 'sk_male', 'sk_female']

In [12]:
reset_index_set(df_list)

In [13]:
df_to_csv(df_list)
#sk_male.to_csv('sk_male.csv', index=False)

saving
      year          gender          age     value
0     1971  Total - gender     All ages  932038.0
1     1972  Total - gender     All ages  920780.0
2     1973  Total - gender     All ages  911937.0
3     1974  Total - gender     All ages  908457.0
4     1975  Total - gender     All ages  917415.0
...    ...             ...          ...       ...
1154  2019  Total - gender  Average age      39.2
1155  2020  Total - gender  Average age      39.4
1156  2021  Total - gender  Average age      39.6
1157  2022  Total - gender  Average age      39.7
1158  2023  Total - gender  Average age      39.7

[1159 rows x 4 columns]
saving
      year gender          age     value
0     1971  Male+     All ages  474252.0
1     1972  Male+     All ages  467774.0
2     1973  Male+     All ages  462628.0
3     1974  Male+     All ages  460370.0
4     1975  Male+     All ages  464450.0
...    ...    ...          ...       ...
1154  2019  Male+  Average age      38.4
1155  2020  Male+  Average age      38.6
1156  2021  Male+  Average age      38.8
1157  2022  Male+  Average age      38.9
1158  2023  Male+  Average age      38.9

[1159 rows x 4 columns]
saving
      year   gender          age     value
0     1971  Female+     All ages  457786.0
1     1972  Female+     All ages  453006.0
2     1973  Female+     All ages  449309.0
3     1974  Female+     All ages  448087.0
4     1975  Female+     All ages  452965.0
...    ...      ...          ...       ...
1154  2019  Female+  Average age      40.0
1155  2020  Female+  Average age      40.2
1156  2021  Female+  Average age      40.5
1157  2022  Female+  Average age      40.5
1158  2023  Female+  Average age      40.5

[1159 rows x 4 columns]